<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>todolist</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="/assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="/assets/css/alert_boostrap.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/darkmode.css">
</head>

<body>

    <%- include("./partials/nav.ejs") %>
    <% 
        const email = !!cache ? cache.email : ''
    %>
    <div id="alert-wrapper"></div>
    <div class="login-clean">
        
        <%- include("./partials/modal_forgot_pwd.ejs") %>

        <form method="post">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-navigate"></i></div>
            <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="Email" value="<%= email %>" required=""></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password" required="" minlength="8" maxlength="180" title="Size up to 160 characters, and minimum of 8"></div>
            <input class="form-control" type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Log In</button></div>
            <a class="forgot forgot-format" style="font-size: 0.9em;" href="#" data-toggle="modal" data-target="#popup">Forgot your password?</a>
        </form>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/ejs_bootstrap_alert.js"></script>
    <script src="assets/js/modal_forgot_pwd.js"></script>
    <script src="/assets/js/dropdown_stopper.js"></script>
    <script src="/assets/js/darkmode.js"></script>
    <script>
        if('<%-errors%>') yieldAlert(JSON.parse('<%-errors%>'))
    </script>
</body>

</html>