<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>todolist</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/todo_style.css">
    <link rel="stylesheet" href="/assets/css/alert_boostrap.css">
</head>

<body>

    <%- include("./partials/nav.ejs") %>
    <%
        const {token} = data
    %>
    
    <div id="alert-wrapper"></div>
    <div class="container position-relative">
        <div class="text-center mx-auto" style="margin: 30px;margin-top: 30px;max-width: 900px;padding: 10px;">
            <h2>Reset Password</h2>
        </div>
        <div class="mx-auto" style="margin: 30px;margin-top: 30px;max-width: 900px;min-height: 250px;padding: 10px;">
            <form class="setting-form" method="post" action="resetpassword" style="min-width: 100%;">
                <hr>
                <div class="form-row" style="margin-top: 20px;">
                    <div class="col mb-2"><label class="col-form-label">Password</label></div>
                    <div class="col col-md-9 col-12 mb-2">
                        <div class="group-form-icon">
                            <input class="form-control" name="password" type="password" data-toggle="tooltip" data-bss-tooltip="" id="passwordInput" placeholder="Password" maxlength="160" title="Size up to 160 characters" value="12345678">
                            <span class="d-inline-block" id="passwordIcon">
                                <i class="fa fa-unlock-alt" title="Click to copy"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-row" style="margin-top: 20px;">
                    <div class="col mb-2"><label class="col-form-label">Confirm Password</label></div>
                    <div class="col col-md-9 col-12 mb-2">
                        <div class="group-form-icon">
                            <input class="form-control" name="confirmPassword" type="password" data-toggle="tooltip" data-bss-tooltip="" id="confirmPasswordInput" placeholder="Confirm Password" maxlength="160" title="Size up to 160 characters" value="12345678">
                            <span class="d-inline-block" id="ConfirmPasswordIcon">
                                <i class="fa fa-unlock-alt" title="Click to copy"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <input class="form-control" id="token" type="hidden" name="token" value="<%= token %>" />
                <input class="form-control" id="csrf" type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <div class="form-row" style="margin-top: 20px;">
                    <div class="col text-right">
                        <button class="btn btn-secondary" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <%- include("./partials/footer.ejs") %>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/ejs_bootstrap_alert.js"></script>
    <script>
        if('<%-errors%>') yieldAlert(JSON.parse('<%-errors%>'))
    </script>
</body>

</html>