<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>todolist</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/todo_style.css">
    <link rel="stylesheet" href="/assets/css/alert_boostrap.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/darkmode.css">
</head>

<body>
    
    <%- include("./partials/nav.ejs") %>
    <% 
        const {user} = session
        const isChecked = auth.enable ? 'checked': ''
        const token = auth.token

    %>

    <div id="alert-wrapper"></div>
    <div class="container position-relative">
        
        <div class="text-center mx-auto" style="margin: 30px;margin-top: 30px;max-width: 900px;padding: 10px;">
            <h2>Settings</h2>
        </div>
        <div class="mx-auto" style="margin: 30px;margin-top: 30px;max-width: 900px;min-height: 250px;padding: 10px;">
            <h3>Profile</h3>
            <form id="profileForm" class="setting-form" enctype="multipart/form-data" method="post" action="profile?_csrf=<%= csrfToken %>">
                <input class="form-control" id="csrfProfile" type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <div class="form-row">
                    <div class="col text-center col-md-3 col-12">
                        <div class="text-center form-image">
                            <label>
                                <i class="fa fa-camera d-flex d-xl-flex justify-content-end align-items-end justify-content-xl-end align-items-xl-end"></i>
                                <img class="inverted-darkmode" id="imageProfile" src="<%= image.filename %>">
                                <input class="form-control-file" type="file" id="uploadImage" accept="image/*" name="image">
                            </label>
                            <div class="dark-mask"></div>
                            <div class="d-flex justify-content-center">
                                <button class="btn btn-danger btn-sm" id="removeBtn" type="submit">Remove</button>
                                <button class="btn btn-secondary btn-sm" id="uploadBtn" type="submit">Upload</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-row" style="margin-top: 20px;">
                            <div class="col mb-2">
                                <label class="col-form-label">Username</label>
                            </div>
                            <div class="col col-md-9 col-12 mb-2">
                                <div class="group-form-icon">
                                    <input class="form-control" type="text" data-toggle="tooltip" data-bss-tooltip="" id="nameField" placeholder="Username" pattern="[a-zA-Z]+" required="" title="Only letters and not larger than 80 characters" autocomplete="on" disabled="" value="<%= user.name%>">
                                    <span class="d-inline-block" id="nameIcon"
                                        ><i class="fa fa-user-o" title="Click to copy"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-row" style="margin-top: 20px;">
                            <div class="col mb-2">
                                <label class="col-form-label">Email</label>
                            </div>
                            <div class="col col-md-9 col-12 mb-2">
                                <div class="group-form-icon">
                                    <input class="form-control" type="email" id="emailField" placeholder="Valid email" autocomplete="on" disabled="" value="<%= user.email%>">
                                    <span class="d-inline-block" id="emailIcon">
                                        <i class="fa fa-envelope-o" title="Click to copy"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form class="setting-form" action="settings" method="post" style="min-width: 100%;">
                <hr>
                <div class="form-row" style="margin-top: 20px;">
                    <div class="col mb-2">
                        <label class="col-form-label">Password</label>
                    </div>
                    <div class="col col-md-9 col-12 mb-2">
                        <div class="group-form-icon">
                            <input class="form-control" type="password" name="password" data-toggle="tooltip" data-bss-tooltip="" id="passwordInput" placeholder="Password" maxlength="160" title="Size up to 160 characters" required="" value="">
                            <span class="d-inline-block" id="passwordIcon">
                                <i class="fa fa-unlock-alt" title="Click to copy"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-row" style="margin-top: 20px;">
                    <div class="col mb-2">
                        <label class="col-form-label">Confirm Password</label>
                    </div>
                    <div class="col col-md-9 col-12 mb-2">
                        <div class="group-form-icon">
                            <input class="form-control" type="password" name="confirmPassword" data-toggle="tooltip" data-bss-tooltip="" id="confirmPasswordInput" placeholder="Confirm Password" maxlength="160" title="Size up to 160 characters" required="" value="">
                            <span class="d-inline-block" id="ConfirmPasswordIcon">
                                <i class="fa fa-unlock-alt" title="Click to copy"></i>
                            </span>
                        </div>
                        
                    </div>
                </div>
                <input class="form-control" id="csrf" type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <div class="form-row" style="margin-top: 20px;">
                    <div class="col text-right">
                        <button class="btn btn-secondary btn-sm" type="submit">Save</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="mx-auto" style="margin: 30px;margin-top: 30px;max-width: 900px;min-height: 250px;padding: 10px;">
            <h3>Authorization</h3>
            <div class="row" style="margin-top: 20px;">
                <div class="col mb-2">
                    <div class="custom-control custom-switch">
  	                    <input type="checkbox" class="custom-control-input" id="tokenToggle" <%= isChecked %>>
  	                    <label class="custom-control-label" for="tokenToggle">Allow Token</label>
                    </div>
                </div>
                <div class="col col-md-9 col-12 mb-2">
                    <div class="group-form-icon">
                        <input type="text" id="tokenField" readonly="" placeholder="No token yet" value="<%= token %>">
                        <span class="d-inline-block" id="copyToken">
                            <i class="fa fa-clone" data-toggle="tooltip" data-bss-tooltip="" title="Click to copy"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <%- include("./partials/footer.ejs") %>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/ejs_bootstrap_alert.js"></script>
    <script src="assets/js/settings.js"></script>
    <script src="assets/js/form_group.js"></script>
    <script src="/assets/js/dropdown_stopper.js"></script>
    <script src="/assets/js/darkmode.js"></script>
    <script>
        if('<%-errors%>') yieldAlert(JSON.parse('<%-errors%>'))
    </script>
</body>

</html>