<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>todolist</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="/assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/alert_boostrap.css">
    <link rel="stylesheet" href="/assets/css/darkmode.css">
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <%- include("./partials/nav.ejs") %>
    <%
        const {name, email} = !!cache ? cache : ''
    %>
    <div id="alert-wrapper"></div>
    <div class="login-clean">
        
        <form action="/signup" method="POST">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-navigate"></i></div>
            <div class="form-group group-form-icon">
                <input class="form-control" type="text" placeholder="Name" style="margin-bottom: 10px;" name="name" autocomplete="on" required="" pattern="\p{L}+[a-zA-Z\s]+" title="Only letters and not larger than 80 characters" maxlength="80" value="<%= name %>">
                <span class="d-inline-block">
                    <i class="fa fa-close clear-input" title="Clear field"></i>
                </span>
                <input class="form-control" type="email" name="email" placeholder="Email" value="<%= email %>" required="" title="Enter a valid email format" >
                <span class="d-inline-block">
                    <i class="fa fa-close clear-input" title="Clear field"></i>
                </span>
            </div>
            <div class="form-group">
                <div class="group-form-icon">
                    <input id="passwordInput" class="form-control" type="password" name="password" placeholder="Password" style="margin-bottom: 10px;" required="" minlength="8" maxlength="180" title="Size up to 160 characters, and minimum of 8">
                    <span class="d-inline-block">
                        <i id="passwordIcon" class="fa fa-eye-slash" title="Show or hide password"></i>
                    </span>
                </div>
                <div class="group-form-icon">
                    <input id="confirmPasswordInput" class="form-control" type="password" name="confirmPassword" placeholder="Confirm Password" required="" minlength="8" maxlength="180" title="Size up to 160 characters, and minimum of 8">
                    <span class="d-inline-block">
                        <i id="ConfirmPasswordIcon" class="fa fa-eye-slash" title="Show or hide password"></i>
                    </span>
                </div>
            </div>
            <input class="form-control" type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Sign Up</button>
            </div>
        </form>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/ejs_bootstrap_alert.js"></script>
    <script src="/assets/js/dropdown_stopper.js"></script>
    <script src="/assets/js/toolbox.js"></script>
    <script src="/assets/js/darkmode.js"></script>
    <script>
        if('<%-errors%>') yieldAlert(JSON.parse('<%-errors%>'))

        comparePassword('#confirmPasswordInput', '#passwordInput')

        $('#passwordIcon').click(() => {
            toggleShowPassword('#passwordIcon', '#passwordInput')
        })

        $('#ConfirmPasswordIcon').click(() => {
            toggleShowPassword('#ConfirmPasswordIcon', '#confirmPasswordInput')
        })

    </script>
</body>

</html>